// colors
$bg : #000000;
$text: #ffffff;

$deep-purple: #260460;
$blue: #2D008E;
$electric-blue: #2A05AB;

$green: #00a770;

$poligon-border: polygon(14.85% 14px, 86.22% 14px, 90.11% 43.13%, 84.76% 53.35%, 85.13% 63.66%, 85.93% 86.45%, 23px 85.65%, 14px 33.52%);

$poligon-border-active: polygon(9.03% 16px, 86.22% 14px, 90.78% 21.63%, 90.47% 53.48%, 90.58% 63.87%, 90.16% 99.03%, 25px 97.58%, 21px 34.67%);



// sizes
// $min-width: calc(14rem);